gunicorn

flask
flask-runner
flask-cli

flask-login
flask-cors
Flask-Markdown
Flask-WTF
wtforms
# !! ubuntu : requires package libffi-dev
flask-bcrypt

requests
itsdangerous
beautifulsoup4
uuid
py2neo<3

python-igraph
numpy
scipy
scikit-learn

reliure
https://github.com/ynnk/cello/archive/master.zip
https://github.com/padagraph/botapi/archive/master.zip
