gunicorn

flask
flask-runner
flask-login
flask-cors
flask-mail
Flask-Markdown
Flask-WTF
# !! ubuntu : requires package libffi-dev
flask-bcrypt

requests
itsdangerous

uuid
py2neo<3

python-igraph
numpy
scipy
scikit-learn

reliure
#cello
#git+ssh://git@git.kodexlab.com/kodexlab/cello.git@no_matplotlib
https://github.com/ynnk/cello/archive/master.zip
https://github.com/padagraph/botapi/archive/master.zip
