setuptools
gunicorn

flask
flask-cli
flask-script
flask-login
flask-cors
Flask-Markdown
Flask-WTF
wtforms

unicodecsv
requests
beautifulsoup4

python-igraph
numpy
scipy
scikit-learn

reliure
https://github.com/ynnk/cello/archive/master.zip
https://github.com/padagraph/botapi/archive/master.zip
https://github.com/padagraph/botapadd/archive/master.zip
https://github.com/padagraph/pdglib/archive/master.zip
https://github.com/padagraph/pdgapi/archive/master.zip
