
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> RL/Spiderlex </title>
    
    <!--  SemUI CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='bower_components/semantic-ui/dist/semantic.min.css')}}" type="text/css" />
</head>
<body>
    <div class="ui text container">
        <nav class="ui text menu navbar">
            <div class="left menu">
                <a href="" class="item">Project Name</a>
            </div>
            <div class="right menu">
                <a href="" class="item">Home</a>
                <a href="" class="item">About</a>
                <a href="" class="item">Contact</a>
            </div>
        </nav>
        <div class="ui divider"></div>
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="ui huge message center aligned">
                        <h1 class="ui huge header">RL/spiderlex</h1>
                        <p>résumé du contenu</p>
                        <a class="ui green button">RL/en</a>
                        <a class="ui green button" href="/fr">RL/fr</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui grid">
            <div class="two column row">
                <div class="column">
                    <h2>responsables</h2>
                </div>
                <div class="column">
                    <h2>contact(s)</h2>
                </div>
            </div>
            <div class="one column row">
                <div class="column">

                 <h2>documentation compacte sur l’utilisation de Spiderlex</h2>

                 <h2>Liens utiles</h2>
                    <p>(projet RELIEF, travaux sur les systèmes lexicaux, etc.) et bibliographie</p>
                 
                 <h2>statistiques</h2>
                     sur les deux graphes, avec date/heure des dernières actualisations ;

                </div>
            </div>
        
            <div class="one column row">
                <div class="column">
                 <h2>mentions légales</h2>

                 <h2>Logos</h2>
                    (ATILF, CNRS, AME, FEDER, Kodex.Lab, etc.) ;
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui divider"></div>  
                    <span>&copy; RL/spiderlex</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
